<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CaC-Movies, peliculas y series online</title>
    <!-- zona favicon -->
    <link rel="CaC-Movies icon" href="../favicon.ico" type="image/x-icon">
    
    <!-- zona de script-->
    <script src="https://kit.fontawesome.com/fa04600604.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">CaC-Movies</a>
        </nav>
        
    </header>

     <!-- Contenido -->
     <main>

        <!-- form-wrapper: formulario -->
        <section id="form-wrapper"></section>

    </main>
    <footer>
        <!-- por cuestiones de diseño utilizamos elementos a -->
        <a href="./templates/register.html">Descarga del archivo</a> 
        <a href="#">Términos y condiciones</a>
        <a href="#">Ayuda</a>
        <a href="#">Administrador de Películas</a>
    </footer>

</body>
</html>